body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", "Arial", sans-serif;
  letter-spacing: 0.5px;
}

*:focus {
  outline: 2px dashed #FF7500;
  outline-offset: 2.7px;
}

/* SITE HEADER */
.site-header {
  display: flex;
  border-top: 5px solid #FF7500;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #fff;
}

.logo-link {
  transition: opacity 0.4s ease;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.6;
}

.site-header-actions {
  display: flex;
  align-items: center;
}
/* SITENAV */
.sitenav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 32px;
  line-height: 15.23px;
}

.sitenav-item {
  margin-right: 32px;
}

.sitenav-item:last-child {
  margin-right: 0;
}

.nav_link {
  text-decoration: none;
  font-weight: 500;
  line-height: 15px;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #222;
  transition: color 0.4s ease,
    opacity 0.3s ease;
}

.nav_link:hover {
  color: #ff7500;
}

.nav_link:active {
  opacity: 0.6;
}

/* Buttons */
.button-link {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 4px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bold;
  text-decoration: none;
  background-color: #FF7500;
  font-size: 18px;
  line-height: 15px;
  color: #fff;
  transition: opacity 1.2s ease;
}

.button-link:hover {
  opacity: 0.8;
}

.button-link:active {
  opacity: 0.6;
}

        /* MAIN */

/* HERO */
.hero {
  display: flex;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  justify-content: space-around;
  background-color: #252420;
  color: white;

}
.hero-content {
  width: 390px;
}
.hero-img {
  border-radius: 8px;
  width: 510px;
  height: 510px;
}
.orange-hr {
  width: 80px;
  height: 3px;
  border: none;
  margin: 0;
  margin-bottom: 40px;
  background-color: #ff7500;
}
.hero-heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700px;
  line-height: 45px;
  font-size: 40px;
  line-height: 1.2;
}

.hero-text {
  margin-top: 0;
  margin-bottom: 32px;
}

/* FEATURES */

.features {
  padding-top: 210px;
  padding-bottom: 210px;
}

.features-heading {
  margin-top: 0;
  margin-bottom: 72px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.2;

}

.features-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.feature {
  width: 340px;
  height: 245px;
  margin-right: 40px;
}

.feature:last-child {
  margin-right: 0;
}

.features-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(255, 117, 0, 0.2);
}

.features-headline {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}

/* AKSIYA */
.promo {
  display: flex;
  align-items: center;
  border-radius: 12px;
  justify-content: space-around;
  background-color: #252420;
  color: #fff;
}

.promo-content {
  width: 440px;
}

.promo-heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.promo-text-wrapper{
  margin-bottom: 24px;
}

.promo-text {
  margin-top: 0;
  margin-bottom: 12px;
}

.promo-text:last-child {
  margin-bottom: 0;
}

.promo-highlight {
  color: #ff7500 ;
}

.promo-img {
  border-radius: 12px;
  width: 440px;
  height: 440px;
  object-fit: cover;
}
/* SITE FOOtER */
.site-footer {
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: #f8f8f8;
}
.site-footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* SITE FOOTER LINKS AND LISTS  */
.site-footer ul {
  padding: 0;
  list-style: none;
}
      /* IMG Block */
.site-footer-socials {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
}

.site-footer-socials li {
  margin-right: 16px;
}

.site-footer-socials li:last-child {
  margin-right: 0;
}

.site-footer-socials a:hover {
  color: #ff7500;
}

.site-footer-socials a:active {
  opacity: 0.6;
}

.site-footer-hr {
  margin-top: 40px;
  margin-bottom: 64px;
  width: 1100px;
  height: 2px;
  background-color: rgba(37, 36, 32, 0.5);;
  border: none

}

.site-footer-bottom {
  display: flex;
  justify-content: space-evenly;
}

.site-footer-links {
  font-weight: 400;
  padding: 0;
  margin: 0;
  margin-right: 68px;
  list-style: none;
  font-size: 16px;
  line-height: 19px;
}

.site-footer-links:last-child {
  margin-right: 0;
}

.site-footer-links a {
  text-decoration: none;
  color: #252420;
  transition: color 0.4s ease,
    opacity 0.4s ease;
}

.site-footer-links a:hover {
  color: #ff7500;
}

.site-footer-links a:active {
  opacity: 0.6;
}